* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    margin: 3%;
    padding: 3% 5% 3% 3%;
    border: 1px solid gray;
    border-radius: 3px;
}

.form-div {
    margin: 4%;
    padding: 3%;
}

input {
    padding: 4%;
    width: 300px;
}

h1 {
    margin: 8% 7% 8% 7%;
}

button {
    padding: 2%;
    background-color: dodgerblue;
    border-radius: 3px;
    cursor: pointer;
}

input,
textarea {
    font-size: 15px;
}

label {
    margin-left: 7%;
}