* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.cstr-from {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 3% 1.5%
}

.main-div {
    margin: 1.5%;
}

label {
    margin-right: 310px;
}

.input-tag {
    padding: 3%;
    width: 400px;
}

input {
    padding: 10%;
    width: 100px;
}

input[type="text"] {
    font-size: 15px;

}

.sub-btn {
    cursor: pointer;
    padding: 10px;
    background-color: steelblue;
    border-radius: 5px;
}

.email-lable {
    margin-right: 22%;
}